Calendar_automatico.json
{
  "name": "Calendar automatico",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "be988fda-80b9-4d0a-9370-4fd00287a27b",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        600,
        320
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "cabrinha.ai@gmail.com",
          "mode": "list",
          "cachedResultName": "cabrinha.ai@gmail.com"
        },
        "options": {
          "timeMin": "={{DateTime.now().setZone('America/Sao_Paulo').startOf('day').toISO()}}",
          "timeMax": "={{DateTime.now().setZone('America/Sao_Paulo').endOf('day').minus({ minutes: 1 }).toISO()}}"
        }
      },
      "id": "ea1e893b-f712-4593-b749-25c65dd04cf3",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        820,
        320
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "gczKuotFB13AxHsf",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2129742d-58f3-433d-ba9c-43b73329b2f9",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "6deceb4e-a170-4483-9afb-822b37e5a07a",
              "name": "nome",
              "value": "={{ $json.summary }}",
              "type": "string"
            },
            {
              "id": "6d7ae7fd-f0b9-4ad7-a460-f8484e838575",
              "name": "inicio",
              "value": "={{ $json.start.dateTime }}",
              "type": "string"
            },
            {
              "id": "a66c974d-1d01-4c08-a037-bcbc50c70a01",
              "name": "link",
              "value": "={{ $json.hangoutLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bf4a07dd-2445-4009-a9d7-07328bda4182",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1260,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "5f29e638-9bd3-47b3-9e23-825d0930c0e6",
              "leftValue": "={{ $json.status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ec834375-3904-4b18-a301-41e50293ec4a",
      "name": "Verifica se tem eventos para hoje",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1040,
        320
      ]
    },
    {
      "parameters": {},
      "id": "046e6aa8-49da-44b1-8e92-4c79a59a3947",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1260,
        500
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.link }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Com link"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "454e24d2-3a3f-4cf4-93c5-0e40a918299b",
                    "leftValue": "={{ $json.link }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sem link"
            }
          ]
        },
        "options": {}
      },
      "id": "b2e37553-24d9-4afb-af45-7019f05e5403",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1500,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "URL DO BOTCONVERSA",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "XXXX"
            },
            {
              "name": "name",
              "value": "Juan"
            },
            {
              "name": "status",
              "value": "={{ $json.status }}"
            },
            {
              "name": "evento",
              "value": "={{ $json.nome }}"
            },
            {
              "name": "inicio",
              "value": "={{ $json.inicio }}"
            },
            {
              "name": "link",
              "value": "={{ $json.link }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a97711d6-3b53-488d-b4b6-9d18c5775efe",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1940,
        80
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.inicio }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "outputFieldName": "inicio",
        "options": {
          "includeInputFields": true,
          "timezone": true
        }
      },
      "id": "f2fa907b-f295-4094-a86e-585e3363f7de",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1720,
        80
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.inicio }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "outputFieldName": "inicio",
        "options": {
          "includeInputFields": true,
          "timezone": true
        }
      },
      "id": "9132ef1d-7896-48ed-8ca2-42560b59307e",
      "name": "Date & Time1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1720,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "URL DO BOTCONVERSA",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "XXXXXX"
            },
            {
              "name": "name",
              "value": "Juan"
            },
            {
              "name": "status",
              "value": "={{ $json.status }}"
            },
            {
              "name": "evento",
              "value": "={{ $json.nome }}"
            },
            {
              "name": "inicio",
              "value": "={{ $json.inicio }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4b7cd396-24b5-4d9a-899b-56540607e1ee",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1940,
        260
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Verifica se tem eventos para hoje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se tem eventos para hoje": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "261e9f45-9a93-4cd7-a5bb-7b4b8cab3524",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4271504b874056c18b5a78dcd50e67cb59b6a13d09d2014237d1d0b41605bc0"
  },
  "id": "X28etMF4qKEspqXF",
  "tags": []
}