Comandosdebarraslack.json
{
  "name": "[SLACK] /piada",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "piada-slack",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "26117428-016c-44f3-aed0-00b8ec3e45ff",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        560,
        320
      ],
      "webhookId": "5b7ee08a-c2be-4e9f-8687-9eafb226dd0a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a27fef0c-0571-46e0-8660-23acc321a033",
              "name": "piada",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c37b3bdb-611b-41c7-a260-e4e6bb54e033",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1160,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.piada }}",
        "options": {}
      },
      "id": "37a0ab83-aad7-4dd4-b39b-394596da5af8",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1380,
        320
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pegacep-slack",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "af7cac09-690b-4dbb-b2fb-7696c5e3310c",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        560,
        620
      ],
      "webhookId": "5b7ee08a-c2be-4e9f-8687-9eafb226dd0a"
    },
    {
      "parameters": {
        "url": "=https://viacep.com.br/ws/{{ $('Webhook1').item.json[\"body\"][\"text\"] }}/json/",
        "options": {}
      },
      "id": "466a33de-bfd1-4db0-8b66-e1f55ba66e94",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        780,
        620
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9cc257e8-743e-4bdc-a184-0d48aaa620b9",
              "name": "logradouro",
              "value": "={{ $json.logradouro }}",
              "type": "string"
            },
            {
              "id": "7b765700-c723-4802-abab-bb9819b5b073",
              "name": "bairro",
              "value": "={{ $json.bairro }}",
              "type": "string"
            },
            {
              "id": "568845da-33a7-4420-9e09-b7ef0aaa2e2f",
              "name": "localidade",
              "value": "={{ $json.localidade }}",
              "type": "string"
            },
            {
              "id": "4bcb8819-5588-409a-a353-130b3f0382a8",
              "name": "uf",
              "value": "={{ $json.uf }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "48d947ba-9a69-47d6-834e-e78ba425f258",
      "name": "pega cep dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1000,
        620
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Logradouro:  {{ $json.logradouro }}\n\nBairro:  {{ $json.bairro }}\n\nEstado:  {{ $json.localidade }}\n\nUF:  {{ $json.uf }}",
        "options": {}
      },
      "id": "0a01c3a6-058e-4085-ae17-a49b4d8c2f24",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1240,
        620
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo-0125",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO-0125"
        },
        "messages": {
          "values": [
            {
              "content": "Você é o piadista oficial da X - a empresa de X que mais cresce no Brasil. Sua função é divertir o pessoal e entregar piadas de acordo com o solicitado, não importando o pedido que foi feito. Seu único foco é entregar risadas ao pessoal, que já está estressado trabalhando e resolvendo problemas.",
              "role": "assistant"
            },
            {
              "content": "={{ $json.body.user_name }} está precisando rir e quer que você conte uma piada sobre {{ $json.body.text }}"
            },
            {
              "content": "1) Entregue somente a piada. \n2) Não pergunte mais coisas.",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "id": "36ff04c7-7ace-4f54-ad2e-b0321f424c48",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.1,
      "position": [
        780,
        320
      ],
      "credentials": {
        "openAiApi": {
          "id": "9r5dKR8OwU0j0bsW",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "pega cep dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pega cep dados": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5e3177ca-84c3-453c-9d41-6cf91c5fb3e3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4271504b874056c18b5a78dcd50e67cb59b6a13d09d2014237d1d0b41605bc0"
  },
  "id": "jgYJZYhuMMygw11J",
  "tags": [
    {
      "createdAt": "2024-03-08T03:50:41.522Z",
      "updatedAt": "2024-03-08T03:50:41.522Z",
      "id": "2lDYWqNZRJ0Qr5eU",
      "name": "Simples"
    }
  ]
}